@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    border-bottom: 50px solid #fff;
    border-top: 50px solid #fff;
}

.main-wrapper {
    width: 100%;
    height: 100%;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
.custom-container {
    width: 100% !important;
    margin: 0 auto;
    position: relative;
}

.cus-col-first {
    width: 5%;
    height: 100vh;
    position: fixed;
    left: 0%;
}
.cus-col-second {
    width: 90%;
    position: fixed;
    left: 5%;
}
.wow {
    visibility: hidden;
}
.cus-col-third {
    width: 10%;
    height: 100vh;
    margin-right: 4%;
    height: 100vh;
    position: fixed;
    left: 93%;
    top: 0%;
}

/*===================== header ===============*/

#header {
    text-align: center;
    height: 100%;
    padding-top: 0%;
    padding-bottom: 20%;
}
.header-content {
    height: 100%;
    width: 100%;
    position: relative;
}
.header-content .icon {
    position: absolute;
    top: 0%;
    left: 30%;
}
.header-content .menu {
    position: absolute;
    top: 35%;
    right: 0%;
    cursor: pointer;
}

.menu .menu-icon {
    transform: rotate(-90deg);
    margin-bottom: 5rem;
}
.menu .menu-icon .first-icon {
    height: 0.3rem;
    background: black;
    width: 3rem;
    cursor: pointer;
    transition: width 0.5s;
}

.header-content .menu:hover .first-icon {
    width: 1.5rem;
}

.menu .menu-icon .second-icon {
    height: 0.3rem;
    width: 1.5rem;
    background: black;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: width 0.5s;
}

.header-content .menu:hover .second-icon {
    width: 3rem;
}
.menu .menu-text {
    transform: rotate(-90deg);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.04em;
    color: #000;
    font-style: normal;
    text-transform: uppercase;
}
.header-content .title {
    transform: rotate(-90deg);
    position: absolute;
    top: 81%;
    left: -30px;
    font-weight: 600;
    font-size: 1.9rem;
    letter-spacing: 0.04em;
    color: #000;
    font-style: normal;
    text-transform: uppercase;
    /* height: 102px; */
    width: 162px;
}
.header-content .title span {
    margin-right: 5px;
}
.header-content .title span a {
    text-decoration: none;
    color: #000;
}
.header-content .title span a:first-child {
    margin-right: -5px;
}

/*================ main content ===================== */
.main-content {
    height: 100vh;
    /*  overflow-y: scroll; 
    overflow-x: hidden;*/
}
.main-content::-webkit-scrollbar {
    display: none;
}

/*================ footer ============================*/
#footer {
    height: 90%;
    padding: 3rem 0;
    text-align: center;
}
.footer-content {
    height: 100%;
    width: 100%;
    position: relative;
}
.footer-content .icon {
    margin-left: 1.5rem;
}
.footer-content .page-number {
    position: absolute;
    top: 40%;
    right: 50%;
}
ooter-content .page-number .first-page-dot,
.second-page-dot,
.third-page-dot,
.fourth-page-dot,
.fifth-page-dot,
.sixth-page-dot,
.seven-page-dot,
.eight-page-dot,
.nine-page-dot,
.ten-page-dot {
    background: #000;
    border-radius: 50%;
    margin-left: 1.2rem;
    margin-bottom: 0.5rem;
    transition: all 0.5s ease;
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

#myMenu .active a {
    background: #8f00ff !important;
    width: 1rem;
    height: 1rem;
}

.footer-content .language {
    transform: rotate(90deg);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.04em;
    color: #000;
    font-style: normal;
    margin-top: 2rem;
    margin-right: 16px;
    text-transform: uppercase;
}
.footer-content .language .bn {
    font-weight: 200;
    cursor: pointer;
}
.footer-content .language .en {
    cursor: pointer;
}

.menu .menu-icon {
    transform: rotate(-90deg);
    margin-bottom: 5rem;
}
.menu .menu-icon .first-icon {
    height: 0.3rem;
    background: black;
    width: 3rem;
}
.menu .menu-icon .second-icon {
    height: 0.3rem;
    width: 1.5rem;
    background: black;
    margin-top: 0.5rem;
}
.menu .menu-text {
    transform: rotate(-90deg);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.04em;
    color: #000;
    font-style: normal;
}
.footer-content .title {
    transform: rotate(90deg);
    position: absolute;
    bottom: 1%;
    right: 5%;
    font-weight: 600;
    font-size: 1.9rem;
    letter-spacing: 0.04em;
    color: #000;
    font-style: normal;
    width: 100%;
    text-transform: uppercase;
}

/* .menu-point {
    width: 10px;

    height: 10px;

    background-color: #000;

    display: block;

    margin: 1rem 0;

    opacity: 0.6;

    transition: 0.4s ease all;
}

.sections-menu .menu-point.active {
    opacity: 1;

    transform: scale(1.5);
} */

@media screen and (max-width: 1366px) {
    body {
        border-bottom: 25px solid #fff;
        border-top: 25px solid #fff;
    }
}

/*@media screen and (max-width: 428px) {
    .cus-col-second {
        width: 100% !important;
        height: 100vh !important;
        position: fixed !important;
        overflow-y: scroll !important;
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        background: #000;
    }
    .cus-col-second::-webkit-scrollbar{
        display: none;
    }
} */

/* Mobile version */

@media screen and (max-width: 428px) {
    body {
        border: none;
    }
    .cus-col-second {
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: #000;
        top: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .cus-col-second::-webkit-scrollbar {
        display: none;
    }
}
