************* Home page  ****************/
/*.main-content {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}*/
.section {
    /* scroll-snap-align: center;*/
    height: 100vh !important;
}
#home,
#category,
#customer,
#about,
#caseStudy,
#testimonial,
#media,
#blog,
#startProject,
#contact {
    height: 100vh !important;
}
#home {
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#menu {
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 3%;
    background: #000;
}

#menu .logo img {
    position: absolute;
    width: 183px;
    height: 49px;
    left: 5%;
    top: 10%;
}

#menu .cancel-button {
    cursor: pointer;
}
#menu .cancel-button img {
    position: absolute;
    width: 15.14px;
    height: 14.21px;
    right: 5%;
    top: 12%;
}
#menu .service a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 269px;
    height: 61px;
    left: 192px;
    top: 288px;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
}
#menu .about a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 269px;
    height: 61px;
    left: 750px;
    top: 288px;
    font-weight: 400;

    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
}
#menu .portfolio a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 269px;
    height: 61px;
    right: 192px;
    top: 288px;
    font-weight: 400;

    font-size: 50px;
    line-height: 61px;
    color: #ffffff;
}
#menu .blogs a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 182px;
    height: 48px;
    left: 450px;
    top: 450px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
}

#menu .contact a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 182px;
    height: 48px;
    left: 58%;
    top: 450px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
}
#menu a {
    transition: all 0.5s;
}
#menu a:hover {
    font-weight: 500;
    color: #8f00ff;
}
#menu .showMenuText {
    position: absolute;
    bottom: 13%;
    font-size: 100px;
    letter-spacing: 8px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        1px 1px 0 #fff;
    width: 100%;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s, visibility 1.5s;
}

/******** blog details style *************/

#blog-details {
    display: none;
    height: 100vh;
    width: 100%;
    margin-top: 0%;
    margin-bottom: 3%;
    background: #000;
    color: #fff;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
#blog-details::-webkit-scrollbar {
    display: none;
}
#blog-details .date {
    margin-left: 5%;
    color: #fff;
    font-size: 18px;
    text-align: left;
}

#blog-details .blog-button {
    margin-right: 4%;
    cursor: pointer;
}
#blog-details .blog-button img {
    display: inline-block;
    margin-right: 5%;

    float: right;
}

#blog-details .blog-content {
    padding: 1% 6%;
}
#blog-details .blog-content .blog-title {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    padding: 1% 0;
    color: #ffffff;
    width: 100%;
}
#blog-details .blog-content .blog-text {
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    text-align: justify;
    width: 90%;
    margin: 2% auto;
}
.blog-text-style {
    font-size: 18px !important;
    line-height: 150% !important;
    color: #ffffff !important;
    text-align: justify !important;
}

#blog-details .blog-content .bottom-border {
    width: 100%;
    height: 2px;
    background: #fff;
    margin-top: 5%;
}

#blog-details .other-blog,
.other-blog-section {
    padding: 1% 6%;
}
#blog-details .other-blog .other-blog-title {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    cursor: pointer;
}
#blog-details .other-blog-section {
    padding: 2% 6% 5% 6%;
}
#blog-details .other-blog-date {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    padding-bottom: 3%;
    /* text-align: center; */
}
#blog-details .other-blog-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 130%;
    width: 88%;
    cursor: pointer;
}
#blog-details .other-blog-details {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.5);
    width: 88%;
}
.other-blog-details-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.5);
    width: 88%;
}
#blog-details .other-blog-image img {
    width: 276px;
    height: 200px;
}
#blog-details .see-more {
    text-align: center;
    padding-top: 0;
    padding-bottom: 10%;
    width: 100%;
}
#blog-details .see-more a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

/*********** blog style end  *********/

#home .background-video {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
}
#home .video-text {
    position: absolute;
    top: 30rem;
    right: 50rem;
}
#home .video-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 4.5rem;
    text-transform: capitalize;
    color: #ffffff;
    width: 10rem;
}
#home .video-text a {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
}
#home .video-text a img {
    vertical-align: middle;
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

/************* Category page  ****************/
#category {
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
}

#category .category-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#category .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load 1.5s ease-out infinite;
    animation: load 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
    z-index: 1;
}
#category .category-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(/images/07_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#category h1 {
    position: absolute;
    width: 195px;
    height: 64px;
    left: 150px;
    top: 115px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
}
#category p {
    position: absolute;
    width: 250px;
    left: 192px;
    top: 254px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
}

#category .category-image {
    position: absolute;
    top: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#category .category-image img {
    width: 40%;
}
#category .project-btn button {
    background: #8f00ff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    width: 252px;
    height: 46px;
    left: 150px;
    top: 605px;
    border: 1px solid #8f00ff;
}
#category .project-menu-list {
    position: absolute;
    width: 187px;
    height: 230px;
    left: 78%;
    top: 18%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #ffffff;
}
#category .project-menu-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20rem;
}

#category .project-menu-list ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    margin-bottom: 1.2rem;
    border-bottom-width: 0rem;
    transition: color 0.5s, border-bottom-width 1s;
}
.category_list_active {
    color: #8f00ff !important;
}

/************* customer  *****************/
#customer {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
}

#customer .customer-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    bottom: 0;
    background: #000;

    overflow: hidden;
}
#customer .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load 1.5s ease-out infinite;
    animation: load 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
}
#customer .customers-text {
    position: absolute;
    width: 25.2rem;
    height: 18.2rem;
    left: 15.2rem;
    top: 26rem;
}
#customer .customers-text h1 {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4rem;
    text-transform: capitalize;
    color: #ffffff;
}
#customer .customers-text .cus-num {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: capitalize;
    color: #8f00ff;
}
#customer .customers-text p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
}
#customer .customers-icon-group-one {
    position: absolute !important;
    left: 76%;
    top: 0;
    overflow: hidden;
    width: auto;
}
#customer .customers-icon-group-two {
    position: absolute !important;
    left: 61%;
    top: 0;
    overflow: hidden;
    width: auto;
}
#customer .customers-icon-group-three {
    position: absolute !important;
    left: 46%;
    top: 0.55rem;
    overflow: hidden;
    width: auto;
}
#customer .icon-box {
    width: 20rem;
    height: 14rem;
    background: rgba(143, 0, 255, 0.15);
    margin-bottom: 1.5rem;
}
#customer .icon-box img {
    transform: translate(2.5rem, 5.5rem);
    width: 13.7rem;
    height: 2.9rem;
}

/**************** case study ********** */
#caseStudy {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
}

#caseStudy .case-study-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    background: #000;

    overflow: hidden;
}
#caseStudy .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load 1.5s ease-out infinite;
    animation: load 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
}

#caseStudy .row-1 {
    margin-top: 6%;
    padding-left: 7%;
}
#caseStudy .row-2 {
    margin-top: 8%;
}

#caseStudy .case-study-text {
    width: 25%;
    float: left;
}
#caseStudy .case-study-text h1 {
    width: 25rem;
    height: auto;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
    text-transform: capitalize;
    color: #ffffff;
}
#caseStudy .case-study-text p {
    width: 20.4rem;
    height: auto;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
}
#caseStudy .first-casestudy-section {
    position: absolute;
    top: 16%;
    left: 35%;
}
#caseStudy .first-casestudy-section .first-casestudy-section-content {
    height: 100%;
}
#caseStudy .second-casestudy-section .second-casestudy-section-content {
    height: 100%;
}
#caseStudy .first-casestudy-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#caseStudy .first-casestudy-section ul li {
    display: inline;
    margin-left: 2%;
}

#caseStudy .second-casestudy-section {
    position: absolute;
    top: 50%;
    left: 23.5%;
}
#caseStudy .second-casestudy-section ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#caseStudy .second-casestudy-section ul li {
    display: inline;
    margin-right: 2%;
}

#caseStudy .case-study-box {
    border-radius: 2rem;
    width: 215px;
    height: 226px;
    display: inline-block;
}

#caseStudy .case-study-img {
}

#caseStudy .case-study-box img {
    width: 100%;
    height: 100%;
    z-index: 1;
}
#caseStudy .case-study-box .case-study-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    margin-top: -40px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 0px 0px 20px 20px;
    padding: 10px 0px;
    z-index: 2;
    width: 100%;
}
#caseStudy .more-company {
    background-image: url(/images/Vector.png?1dd772c4f020df441917cf330f7b60f4);
    background-repeat: no-repeat;
    background-size: contain;
    width: 68px;
    height: 68px;
    cursor: pointer;
    margin-top: 6%;
    width: 21%;
    overflow: hidden;
    position: absolute;
    top: 46%;
    right: -7%;
}

/************ testimonial *************/
#testimonial {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#testimonial .testimonials-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    background: #000;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#testimonial .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load 1.5s ease-out infinite;
    animation: load 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
}
#testimonial .first-section {
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#testimonial .first-section .quotation-img {
    margin-top: 8rem;
    margin-left: 2rem;
    /* margin-bottom: 8rem; */
}
#testimonial .first-section .quotation-img img {
    float: left;
}
#testimonial .first-section .quotation-img h1 {
    float: left;
    margin-top: 3rem;
    margin-left: -4rem;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #ffffff;
}
#testimonial .client-img img {
    clear: both;
    display: inline-block;
    margin-top: 4rem;
    margin-left: 21rem;
    width: 72%;
}
#testimonial .second-section {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60%;
    height: 80%;
    left: 75%;
    padding-left: 25px;
}

#testimonial .second-section .pagination {
    margin-left: 20px;
    margin-top: 6rem;
}
#testimonial .second-section .prev {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-indent: 2px;
    color: rgba(255, 255, 255, 0.5);
    float: left;
    cursor: pointer;
}
#testimonial .second-section .pagination-arrow {
    display: inline-block;
    width: 100px;
    height: 2px;
    background: #fff;
    float: left;
    margin-left: 18px;
    margin-top: 15px;
}
#testimonial .second-section .next {
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-indent: 2px;
    float: left;
    color: #ffffff;
    margin-left: 18px;
    cursor: pointer;
}

#testimonial .second-section {
    position: absolute;
    left: 72rem;
    bottom: 16px;
    width: 60%;
    height: 80%;
}
#testimonial .second-section .client-review {
    width: 460px;
    height: 144px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 140px;
}
#testimonial .second-section .client-name {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
    margin-left: 20px;
}
#testimonial .second-section .client-designation {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 20px;
}
#testimonial .second-section .pagination {
    margin-left: 20px;
    margin-top: 2rem;
}
#testimonial .client-img img {
    clear: both;
    display: inline-block;
    margin-top: 4rem;
    margin-left: 15rem;
    width: 82%;
}

/************* start project**********************/
#startProject {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background: #000;
}
#startProject .project-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    background: #000;
}

#startProject .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load 1.5s ease-out infinite;
    animation: load 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
}

@keyframes load {
    0% {
        outline: 0rem solid #fff;
        border: 0rem solid #000;
    }
    50% {
        outline: 0.1rem solid #fff;
        border: 0.5rem solid #000;
    }
    100% {
        outline: 0rem solid #fff;
        border: 0rem solid #000;
    }
}

#startProject .header h1 {
    position: absolute;
    width: 24.9rem;
    height: 8rem;
    left: 10rem;
    top: 8.5rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: #ffffff;
}
#startProject .mobile-num p {
    position: absolute;
    width: 16.8rem;
    height: 2.3rem;
    right: 10rem;
    top: 8.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    /* identical to box height */

    color: #ffffff;
}

#startProject .project-menu-list {
    position: absolute;
    left: 10rem;
    top: 24.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #ffffff;
    z-index: 1;
}
#startProject .project-menu-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20rem;
}

#startProject .project-menu-list ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-transform: capitalize;
    padding-bottom: 1rem;
    margin-bottom: 1.2rem;
    border-bottom-width: 0rem;
    transition: color 0.5s, border-bottom-width 1s;
}
.project-menu-list-active {
    border-bottom-width: 0.1rem !important;
    border-bottom-style: solid !important;
    border-bottom-color: #8f00ff !important;
    color: #8f00ff !important;
}

#startProject .social-media {
    position: absolute;
    width: 22rem;
    left: 32rem;
    top: 28.5rem;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-transform: capitalize;
    color: #ffffff;
}
#startProject .contact-form {
    position: absolute;
    width: 30rem;
    right: 10rem;
    top: 24.5rem;
}
#startProject .contact-form input {
    width: 100%;
    background: #000;
    border: none;
    border-bottom: 0.1rem solid #fff;
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 275;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.04em;
    color: #ffffff;
    font-weight: 500;
    padding-bottom: 0.5rem;
    outline: none;
}
#startProject input[type="text"]:focus {
    border: none;
    border-bottom: 0.1rem solid #fff;
}
#startProject .contact-form .project-btn {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

#startProject .contact-form .project-btn button {
    width: 25.2rem;
    height: 4.6rem;
    background: #8f00ff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    /* identical to box height, or 120% */

    letter-spacing: 0.04em;
    text-transform: capitalize;

    color: #ffffff;
}

#startProject input[type="checkbox"] {
    display: none;
}
#startProject input[type="checkbox"] + label {
    cursor: pointer;
}
#startProject input[type="checkbox"] + label::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    background: #000;
    outline: 0.1rem solid #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 0rem;
    margin-right: 0.8rem;
}
#startProject input[type="checkbox"]:checked + label::before {
    outline: 0.1rem solid #8f00ff;
    color: #8f00ff;
}
#startProject input[type="checkbox"]:checked + label {
    color: #8f00ff;
}
#startProject input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    background: #000;
    outline: 0.1rem solid #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 0rem;
    margin-right: 0.8rem;
    transition: all 0.5s ease;
}

#startProject .spaceman {
    position: absolute;
    width: 22.1rem;
    height: 33.4rem;
    left: 30rem;
    bottom: 0%;
    background-repeat: no-repeat;
    transform: rotate(0.09deg);
    animation: floating 60s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(-25%, -25%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

#startProject .web,
.dm,
.ai,
.ad {
    display: none;
}

/*************** Blog ************/
#blog {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #000;
}

#blog .work-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    top: 0px;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#blog .first-section {
    position: absolute;
    width: 65%;
    height: 100%;
    left: 0rem;
    top: 0%;
    background-image: url(/images/work-1.png?05ae4eb8e9af6ae9fcf601df7fee24f9);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog .first-section .first-section-title {
    position: absolute;
    left: 13.12%;
    top: 64.86%;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.8rem;
    color: #ffffff;
    cursor: pointer;
}
#blog .first-section .profile {
    position: absolute;
    left: 13.12%;
    top: 76.58%;
}

#blog .first-section .profile .thumbnail {
    float: left;
    margin-top: 1rem;
}
#blog .first-section .profile .thumbnail img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#blog .first-section .profile .profile-name {
    font-weight: 400;
    font-size: 2.2rem;
    color: #ffffff;
    float: left;
    margin-left: 1.5rem;
    margin-top: 2rem;
}
#blog .first-section .profile .published-date {
    clear: right;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #ededed;
    margin-left: 10.8rem;
}
#blog .second-section {
    position: absolute;
    width: 35%;
    height: 28%;
    right: 0rem;
    top: 0%;
    background-image: url(/images/work-2.png?af3d0852f22ffa1510ec9b4245cb0f40);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog .second-section .second-section-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 1.5rem;
    cursor: pointer;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 10rem;
}
#blog .third-section {
    position: absolute;
    width: 35%;
    height: 28%;
    right: 0;
    top: 24%;
    background-image: url(/images/work-3.png?f915764480600505dcde54c4e0347322);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#blog .third-section .third-section-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    margin-left: 1.5rem;
    cursor: pointer;
    margin-right: 5rem;
    margin-left: 5rem;
    margin-top: 10rem;
}
#blog .fourth-section {
    position: absolute;
    width: 35%;
    right: 0rem;
    top: 48%;
    background-image: url(/images/work-4.png?0c7d16c21abea599b135324272d52c9a);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#blog .fourth-section .fourth-section-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 19rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 18rem;
    margin-left: 8rem;
}
#blog .read-more {
    text-align: center;
}
#blog .read-more button {
    margin-top: 5%;
    width: 134px;
    height: 46px;
    background: #8f00ff;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
}

/**************** media **************/
#media {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#media .media-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#media .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load-41d6cbe0 1.5s ease-out infinite;
    animation: load-41d6cbe0 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
    z-index: 1;
}
#media .media-bg {
    position: absolute;
    width: 106%;
    height: 100%;
    left: -47px;
    top: 0;
    background-image: url(/images/07_BG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#media .project-btn button {
    background: #8f00ff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    width: 252px;
    height: 46px;
    left: 560px;
    top: 558px;
}
#media .media-bg h1 {
    position: absolute;
    width: 291px;
    height: 44px;
    left: 535px;
    top: 75px;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}

#media .media-bg p {
    position: absolute;
    width: 432px;
    height: 46px;
    left: 470px;
    top: 500px;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
}

/*************** about **************/
#about {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
#about .about-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    background: #000;
    left: 0;
    bottom: 0;
    overflow: hidden;
}
#about .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load-41d6cbe0 1.5s ease-out infinite;
    animation: load-41d6cbe0 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
}
#about .first-section-bg {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(/images/about-bg.png?4542677c06a8797da4cf9e0afb26bf83);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
#about .first-section-gradient {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
        360deg,
        #0c0e13 0%,
        #0c0e13 0.01%,
        rgba(12, 14, 19, 0) 61.67%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#about .about-section {
    position: absolute;
    width: 56%;
    height: 75%;
    right: 90px;
    top: 10rem;
    overflow-y: scroll;
}
#about .about-section::-webkit-scrollbar {
    width: 9px;
    height: 118px;
}
#about .about-section::-webkit-scrollbar-thumb {
    background: #8f00ff;
    border: 3px solid #8f00ff;
    background-clip: content-box;
}
#about .about-section::-webkit-scrollbar-track {
    width: 1px;
    background: #fff;
}
#about .about-section h1 {
    font-weight: 500;
    font-size: 3.2rem;
    color: #fff;
    line-height: 4.8rem;
    margin-left: 8rem;
    margin-bottom: 3rem;
}
#about .about-text h2 {
    margin-left: 11rem;
    font-weight: 700;
    font-size: 24px;
    line-height: 180%;
    color: #ffffff;
}
#about .about-text p {
    margin-left: 11rem;
    width: 432px;
    height: auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #d0d4ea;
}
#about .about-text .about-bar {
    width: 42rem;
    height: 0.2rem;
    background: #fff;
    display: block;
    margin-left: 9rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#startProject .project-menu-list ul li a {
    font-size: 1.8rem;
}
#startProject .social-media {
    width: 40rem;
    left: 40rem;
    font-size: 1.8rem;
}
#startProject .contact-form {
    width: 45rem;
}
#startProject .contact-form input {
    margin-bottom: 3rem;
    font-size: 1.5rem;
}
#media .media-bg h1 {
    position: absolute;
    width: 291px;
    height: 44px;
    left: 40%;
    top: 10%;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}
#media .media-bg .media-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -8%;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#media .media-bg .media-img canvas {
    display: block;
    box-sizing: border-box;
    height: auto !important;
    width: 40% !important;
}
#media .media-bg p {
    position: absolute;
    width: 500px;
    height: 46px;
    left: 36%;
    top: 68%;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
}
#media .project-btn button {
    background: #8f00ff;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    width: 252px;
    height: 46px;
    left: 42%;
    top: 79%;
}
#blog .second-section {
    height: 29%;
}
#blog .third-section {
    height: 32%;
}
#blog .fourth-section {
    height: 55.4%;
    top: 30rem;
}

#blog .second-section {
    height: 24%;
    position: absolute;
    width: 35%;
    right: 0rem;
    top: 0;
    background-image: url(/images/work-2.png?af3d085…);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog .third-section {
    height: 24%;
    position: absolute;
    width: 35%;
    right: 0;
    top: 17rem;
    background-image: url(/images/work-3.png?f915764480600505dcde54c4e0347322);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#blog .fourth-section {
    height: 64%;
    top: 34rem;
    position: absolute;
    width: 35%;
    right: 0rem;

    background-image: url(/images/work-4.png?0c7d16c21abea599b135324272d52c9a);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*********  Customer **********/
#contact {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#contact .contact-content-body {
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    left: 0;
    bottom: 0;
    background: #000;
    overflow: hidden;
}
#contact .ping {
    background: #fff;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    -webkit-animation: load 1.5s ease-out infinite;
    animation: load 1.5s ease-out infinite;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
    outline: 0.1rem solid #fff;
    border: 0.5rem solid #000;
}
#contact .logo img {
    position: absolute;
    width: 415px;
    height: 350px;
    left: 81%;
    top: -8%;
}

#contact h1 {
    position: absolute;
    width: 587px;
    height: 110px;
    left: 100px;
    top: 126px;
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    color: #ffffff;
}

#contact .talk-btn a {
    display: inline-block;
    padding: 5px 26px;
    position: absolute;
    width: 240px;
    height: 60px;
    left: 108px;
    top: 40%;
    border: 2px solid #ffffff;
    border-radius: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 47px;
    text-align: center;
    background: inherit;
    color: #ffffff;
    text-transform: capitalize;
}
#contact .text p {
    position: absolute;
    width: 266px;
    height: 92px;
    left: 108px;
    top: 60%;
    font-size: 21px;
    line-height: 23px;
    /* or 115% */

    color: #ffffff;
}

#contact .product,
.usecase,
.resources,
.company {
    position: absolute;
    width: 203px;
    height: 197px;
    color: #ffffff;
    text-transform: capitalize;
}
#contact .product {
    left: 35%;
    top: 60%;
}
#contact .usecase {
    left: 50%;
    top: 60%;
}
#contact .resources {
    left: 65%;
    top: 60%;
}
#contact .company {
    left: 80%;
    top: 60%;
}
#contact .product h4,
.usecase h4,
.resources h4,
.company h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10%;
}
#contact .product ul,
.usecase ul,
.resources ul,
.company ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#contact .product ul li,
.usecase ul li,
.resources ul li,
.company ul li {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 3%;
    color: #ffffff;
}
#contact .company ul li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
#contact .social-icon {
    position: absolute;
    left: 108px;
    top: 80%;
    bottom: 14.03%;
    width: 200px;
}
#contact .social-icon ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#contact .social-icon ul li {
    display: inline;
    margin-right: 15px;
}
#contact .social-icon ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    color: #fff;
}

/* @media screen and (max-width: 1920px) {
    #blog .third-section {
        top: 25rem;
    }
    #blog .fourth-section {
        height: 60%;
        top: 50rem;
    }
    #startProject .header h1 {
        top: 16.5rem;
    }
    #startProject .spaceman {
        bottom: 0%;
    }
    #startProject .project-menu-list {
        top: 36.5rem;
    }
    #startProject .social-media {
        top: 41.5rem;
    }
    #startProject .contact-form {
        top: 36.5rem;
    }
} */

/************** responsive  **************/

@media screen and (max-width: 1600px) {
    #menu .about a {
        left: 590px;
    }
    #home .video-text {
        top: 40rem;
        right: 45rem;
    }
    #blog .work-content-body {
        top: 0px;
    }

    #customer .customers-icon-group-two {
        left: 59%;
    }
    #customer .customers-icon-group-three {
        left: 42%;
    }
    #testimonial .first-section .quotation-img[data-v-1b29d588] {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    #customer .customers-text {
        top: 20rem;
    }
    #customer .icon-box {
        width: 20rem;
        height: 13rem;
    }
    #customer .icon-box img {
        transform: translate(2.5rem, 5.5rem);
    }

    #blog .fourth-section .fourth-section-title {
        margin-top: 12rem;
    }
    #contact .logo img {
        left: 77%;
    }
    #caseStudy .case-study-box {
        width: 160px;
    }
    #caseStudy .more-company[data-v-1b29d588] {
        margin-top: 4%;
    }
    #caseStudy .row-2[data-v-1b29d588] {
        margin-top: 4%;
    }
    #about .first-section-bg {
        width: 50%;
    }
    #about .first-section-gradient {
        width: 50%;
    }
    #about .about-section {
        width: 45%;
    }

    #blog .second-section {
        height: 27%;
    }
    #blog .third-section {
        height: 27%;
        top: 21rem;
    }

    #blog .fourth-section {
        top: 42rem;
        height: 48%;
    }
    #category .category-bg {
        height: 100%;
    }
    #startProject .header h1 {
        top: 10.5rem;
    }
    #startProject .project-menu-list {
        top: 31.5rem;
    }
    #startProject .social-media {
        top: 33.5rem;
    }
    #startProject .contact-form {
        top: 31.5rem;
    }
    #startProject .mobile-num p {
        top: 10.5rem;
    }
    #caseStudy .row-1 {
        margin-top: 7%;
    }
    #startProject .spaceman {
        bottom: -90px;
    }
    #contact h1 {
        left: 104px;
    }
    #category .project-btn button {
        top: 515px;
    }
    #media .project-btn button {
        left: 45%;
    }
    #testimonial .second-section {
        left: 62rem;
    }
}

@media screen and (max-width: 1536px) {
    #testimonial .second-section {
        left: 66rem;
    }
    #blog .third-section {
        top: 23rem;
    }
    #blog .fourth-section {
        top: 34rem;
    }

    #startProject .spaceman {
        bottom: 0%;
    }
    #blog .fourth-section {
        top: 46rem;
    }
    #contact {
        top: 10%;
    }
}
@media screen and (max-width: 1440px) {
    #home .video-text {
        top: 35rem;
        right: 42rem;
    }
    #customer .customers-icon-group-one {
        left: 76%;
    }
    #customer .customers-icon-group-two {
        left: 59.5%;
    }
    #customer .customers-icon-group-three {
        left: 43%;
    }
    #testimonial .second-section {
        left: 65rem;
    }
    #blog .third-section {
        top: 22rem;
    }
    #blog .fourth-section {
        top: 44rem;
    }
    #startProject .spaceman {
        bottom: 0%;
    }
}
@media screen and (max-width: 1366px) {
    #home .video-text {
        top: 36rem;
    }
    #category h1 {
        font-size: 50px;
    }
    #category p {
        font-size: 13px;
    }
    #category .project-btn button {
        width: 200px;
        height: 40px;
        left: 13%;
        top: 77%;
    }
    #category .project-menu-list ul li a {
        font-weight: 500;
    }
    #caseStudy .case-study-box {
        width: 140px;
    }
    #caseStudy .row-1 {
        margin-top: 8%;
    }
    #caseStudy .row-2 {
        margin-top: 0%;
    }

    #customer .icon-box {
        width: 20rem;
        height: 13rem;
    }
    #customer .icon-box img {
        margin-left: 12px;
        transform: translate(1.5rem, 4.5rem);
    }

    #caseStudy .more-company {
        height: 50px;
    }
    #startProject .header h1 {
        font-size: 3rem;
        top: 7.5rem;
    }
    #startProject .project-menu-list {
        top: 24.5rem;
    }
    #startProject .project-menu-list ul li a {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2rem;
    }
    #startProject .spaceman {
        left: 18rem;
    }
    #startProject .social-media {
        top: 27.5rem;
        font-size: 1.5rem;
    }
    #startProject .contact-form {
        top: 24.5rem;
    }
    #blog .second-section {
        height: 27%;
    }
    #blog .second-section .second-section-title {
        font-weight: 500;
        font-size: 14px;
    }
    #blog .third-section {
        height: 25%;
    }
    #blog .third-section .third-section-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
    #blog .fourth-section {
        top: 43rem;
        height: 56%;
    }
    #blog .fourth-section .fourth-section-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        margin-top: 12rem;
    }
    #blog .read-more button {
        width: 120px;
        height: 35px;
        font-weight: 500;
        font-size: 12px;
    }
    #media .media-bg {
        left: -40px;
    }
    #media .media-bg h1 {
        font-size: 25px;
    }

    #media .media-bg .media-img img {
        width: 700px;
        height: 350px;
    }
    #media .media-bg p {
        font-weight: 400;
        font-size: 13px;
        width: 406px;
    }
    #media .project-btn button {
        font-weight: 500;
        font-size: 1.3rem;

        left: 42%;
        top: 81%;
        width: 225px;
        height: 39px;
    }
    #testimonial .first-section .quotation-img {
        margin-top: 4rem;
        margin-left: 2rem;
    }
    #testimonial .first-section .quotation-img img {
        width: 75px;
        height: 60px;
    }
    #testimonial .first-section .quotation-img h1 {
        margin-top: 1rem;
        margin-left: -3rem;
        font-weight: 500;
        font-size: 25px;
        line-height: 48px;
    }
    #testimonial .client-img img {
        margin-top: 14rem;
        margin-left: 7rem;
        height: 350px;
        width: 400px;
    }
    #testimonial .second-section {
        left: 58rem;
        bottom: 20px;
        width: 60%;
        height: 80%;
    }
    #testimonial .second-section .client-review {
        width: 427px;
        height: 144px;
        font-weight: 400;
        font-size: 13px;
        line-height: 23px;
        margin-left: 20px;
        margin-top: 105px;
        margin-bottom: 45px;
    }
    #testimonial .second-section .client-name {
        font-size: 14px;
    }
    #testimonial .second-section .client-designation {
        font-size: 14px;
    }
    #testimonial .second-section .prev {
        font-weight: 400;
        font-size: 14px;
    }
    #testimonial .second-section .pagination-arrow {
        width: 60px;
    }
    #testimonial .second-section .next {
        font-weight: 400;
        font-size: 14px;
    }
    #caseStudy .case-study-box img {
        height: auto;
    }
    #contact h1 {
        width: 400px;
        height: 110px;
        left: 105px;
        top: 75px;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
    }
    #contact .talk-btn a {
        width: 163px;
        height: 37px;
        left: 108px;
        top: 40%;
        font-size: 13px;
        line-height: 24px;
    }
    #contact .text p {
        width: 262px;
        font-size: 15px;
        top: 55%;
    }
    #contact .social-icon {
        top: 77%;
    }
    #contact .product {
        top: 55%;
    }
    #contact .usecase {
        top: 55%;
    }
    #contact .resources {
        top: 55%;
    }
    #contact .company {
        top: 55%;
    }
    #contact .social-icon ul li a {
        font-size: 20px;
    }
    #contact .product h4,
    .usecase h4,
    .resources h4,
    .company h4 {
        font-size: 16px;
    }
    #contact .product ul li,
    .usecase ul li,
    .resources ul li,
    .company ul li {
        font-size: 13px;
    }
    #contact .logo img {
        width: 342px;
        height: 335px;
        top: -11%;
    }
    #about .about-text h2 {
        font-weight: 500;
        font-size: 20px;
    }
    #about .about-text p {
        font-weight: 500;
        font-size: 13px;
    }
    #about .about-text .about-bar {
        margin-top: 0rem;
    }
    #about .about-section {
        width: 45%;
    }

    #customer .customers-text {
        top: 22rem;
    }

    #menu .service a {
        top: 200px;
    }
    #menu .about a {
        top: 200px;
        left: 500px;
    }
    #menu .portfolio a {
        top: 200px;
    }

    #menu .blogs a {
        top: 320px;
    }
    #menu .contact a {
        top: 320px;
    }

    #menu .showMenuText {
        bottom: 0px;
    }
}
